DEBUG=False
SECRET_KEY=generated_key
OPENAI_API_KEY=OPENAI_API_KEY
ALLOWED_HOSTS=website_host
DATABASE_ENGINE=postgresql
POSTGRES_HOST=statutscan-postgresql.postgres.database.azure.com
POSTGRES_DB=statutscan
POSTGRES_USER=admin_statutscan
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_PORT=5432
POSTGRES_SSL=require
MONGO_HOST=mongo_host
MONGO_DATABASE=statutscan
MONGO_CHAT_HISTORY=chat_history
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=statutscan@gmail.com
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
DEFAULT_FROM_EMAIL=statutscan@gmail.com
REDIS_HOST=statutscan-redis.redis.cache.windows.net
REDIS_PORT=6380
REDIS_PASSWORD=REDIS_PASSWORD
REDIS_SSL=true
DOMAIN=statutscan.com
SITE_NAME=StatutScan
GOOGLE_AUTH_KEY=GOOGLE_AUTH_KEY
GOOGLE_AUTH_SECRET_KEY=GOOGLE_AUTH_SECRET_KEY
REDIRECT_URLS=https://statutscan/auth/google