:root {
    --chat-width: max(50vw, min(700px, calc(100vw - 90px)));
    --post-width: max(50vw, min(750px, calc(100vw - 40px)));
    --min-post-height: 50px;
    --send-btn-size: 40px;
    --send-btn-padding: 9px;
    --border-radius: calc(var(--min-post-height) / 2);
    --input-padding: calc((var(--min-post-height) - 1.2em) / 2);
    --background-dark: #2d2d2d;
    --post-textarea-dark: #474747;
    --text-color-dark: white;
    --placeholder-color-dark: #a1a1a1;
    --footer-text-color-dark: #7a7a7a;
    --send-btn-hover-color-dark: #bbbbbb;
    --code-background-color-dark: #545454;
    --source-item-color-dark: #4a4a4a;
    --source-item-color-hover-dark: #474747;
}

.chat-container {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: var(--chat-width);
    margin-inline: auto;
    line-height: 1.2em;
}

.post-container {
    background-color: var(--background-dark);
    position: fixed;
    width: var(--post-width);
    left: calc((100% - var(--post-width)) / 2);
    bottom: calc(10px + 0.75em);
}

#input {
    width: var(--post-width);
    min-height: var(--min-post-height);
    line-height: 1.2em;
    resize: none;
    overflow: auto;
    padding: var(--input-padding);
    box-sizing: border-box;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--post-textarea-dark);
    color: var(--text-color-dark);
    border: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#input::-webkit-scrollbar {
    display: none;
}

#input::placeholder {
    color: var(--placeholder-color-dark);
}

#send-btn {
    position: absolute;
    width: var(--send-btn-size);
    height: var(--send-btn-size);
    right: var(--send-btn-padding);
    bottom: var(--send-btn-padding);
    font-size: calc(0.6 * var(--send-btn-size));
    border-radius: calc(var(--send-btn-size) / 2);
    border: none;
    text-align: center;
}

#send-btn img {
    width: calc(var(--send-btn-size) * 0.6);
    height: calc(var(--send-btn-size) * 0.6);
    margin-top: calc(var(--send-btn-size) * 0.15);
}

#send-btn:hover {
    background-color: var(--send-btn-hover-color-dark);
}

.footer {
    background-color: var(--background-dark);
    color: var(--footer-text-color-dark);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5px;
    font-size: 0.75em;
    text-align: center;
}

.sources-item {
    display: inline-block;
    margin: 3px;
    width: 150px;
}

.sources-item a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.sources-item a:hover {
    text-decoration: none;
}

.sources-item a div {
    background-color: var(--source-item-color-dark);
    font-size: 0.8em;
    margin-inline: 3px;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sources-item a div:hover {
    background-color: var(--source-item-color-hover-dark);
}

.sources-item a div img {
    height: 1.2em;
    width: auto;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    bottom: 1px;
}
